.wrap{
  background: white;
  width: 1336px;
  margin: 0px 0px 0px 0px;
}

/*bagian header*/
.wrap .header{
  background: #300030;
  /*height: 50px;*/
  padding: 2px 10px;
}

/*akhir header*/

/*bagian menu*/
.wrap .menu{
  background: #480048;
}

.wrap .menu ul{
  padding: 0;
  margin: 0;
  background: #480048;
  overflow: hidden;
}

.wrap .menu ul li{
  float: right;
  list-style-type: none;
  padding: 10px;
}
/*akhir menu*/

.clear{
  clear: both;
}

.badan{
  height: 600px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
  background: #601848;
  float: left;  
  width: 2%;
  height: 100%;
}

/*akhir sidebar*/

.wrap .badan .content{
  background: #601848;
  float: center;
  padding-left: 0,8px;
  height: 100%;
  width: 99.99%; 
}

.wrap .footer{
  background: #c04848;
  height: 40px;
  width: 98,7%;
  padding: 10px;
}
 

body {
  background: #FFE4C4;
  font-family: sans-serif;
}

h2 {
  color: #fff;
}

h3 {
  color: #fff;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  border: #ccc 1px solid;
}
 
table th {
  padding: 15px 35px;
  border-left:1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
}
 
table th:first-child{  
  border-left:none;  
}
 
table tr {
  text-align: center;
  padding-left: 20px;
}
 
table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}
 
table td {
  padding: 15px 35px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
 
table tr:last-child td {
  border-bottom: 0;
}
 
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
 
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

.login {
  padding: 1em;
  margin: 2em auto;
  width: 17em;
  background: #fff;
  border-radius: 3px;
}

label {
  font-size: 10pt;
  color: #555;
}

input[type="text"],
input[type="password"],
textarea {
  padding: 8px;
  width: 95%;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
}

.tombol {
  background: #3498db;
  color: #fff;
  border: 0;
  padding: 5px 8px;
  margin: 20px 0px;
}